.AboutMe {
    background-image: url("/images/redbackground.jpg");
    
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;

    color: white;

    padding-bottom: 40px;
}
.title {
    font-size: 120px;
    font-weight: 600;

    text-align: center;
}
.intro {
    font-size: 1.13rem;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
}
.section {
    max-width: 45vw;

    margin-left: auto;
    margin-right: auto;

    min-width: 400px;


}

.aboutContainer {

    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr)); */
    
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template: 
    "one two"
    "one two"
    "three two"
    "three two"
    "five four"
    "five four";


    /* grid-auto-flow: dense; */

}
.aboutContainer div:nth-child(1) {
    grid-area: one;
}

.aboutContainer div:nth-child(2) {
    grid-area: two;
}

.aboutContainer div:nth-child(3) {
    grid-area: three;
}

.aboutContainer div:nth-child(4) {
    grid-area: four;
}

.aboutContainer div:nth-child(5) {
    grid-area: five;
}

@media (max-width: 800px) {
    .aboutContainer {

        display: grid;

        grid-template-columns: auto;
        

        grid-template: none;
    
    }

    .aboutContainer div:nth-child(1) {
        grid-area:unset;
    }
    
    .aboutContainer div:nth-child(2) {
        grid-area: unset;
    }
    
    .aboutContainer div:nth-child(3) {
        grid-area: unset;
    }
    
    .aboutContainer div:nth-child(4) {
        grid-area: unset;
    }

    .aboutContainer div:nth-child(5) {
        grid-area: unset;
    }
}

.sectionTitle {
    font-size: 2rem;
    font-weight: 600;

    margin-top: 20px;
}
.sectionSubtitle {
    font-size: 1.25rem;
    font-weight: 600;

    margin-top: 20px;
}
.sectionParagraphs {

}
.sectionParagraphs p {
    font-size: 1.13rem;
}
.course {
    font-size: 1.13rem;
    
}
.image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.coursework {
    list-style-position: outside;
    list-style: disc;
    padding-left: 1.5em;
}
.imageSlideshow {

    
}
.imageSlide {
    
    margin-left: auto;
    margin-right: auto;
      
     
    
}


.image {
    margin-left: auto;
    margin-right: auto;

    /* margin-top: calc(50% - ); */

    max-height: 500px;
    width: auto;
}
.slideContainer {
    width: 50%;
    min-width: 400px;

    border: solid white 1px;
    /* margin-left: auto;
    margin-right: auto; */

   
/*     
    float: left;
    margin-right: 20px;

    margin-bottom: 20px; */
    
}

