
.description {
    background-color: darkred;
    color: white;

    width: 80vw;
    height: 95vh;
    overflow: hidden;
    padding: 25px;

    border-radius: 15px;
    border: solid white 5px;
    border-style: ridge;

    transition: all 0.1s ease-in;

    overflow-y: scroll;
    scrollbar-color: white rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    
    
    
}
.mainContent {
    display: flow-root;
    
}
.title {
    font-size: 2rem;
    font-weight: 600;
}
.skills {
    font-size: 1.25rem;
}
.bullets {
    list-style:disc;
    list-style-position:outside;

    padding-left: 1.5em;
}
.bullet {
    
    font-size: 1.13rem;
}
.divider {
    width: 100px;
    border-bottom: solid white 2px;
    margin: 20px 0px;
}
.imageSlideshow {

    
}
.imageSlide {
    
    margin-left: auto;
    margin-right: auto;
    
}
.projectImage {
    margin-left: auto;
    margin-right: auto;

    max-height: 500px;
    width: auto;
}
.slideContainer {
    width: 50%;
    min-width: 400px;
    
    float: left;
    margin-right: 20px;

    margin-bottom: 20px;
    
}
.embed {
    width: 50%;
    min-width: 400px;
    height: 350px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.paragraphs {
    
}
.paragraph {
    
    font-size: 1.13rem;
    margin-bottom: 20px;
    
}

@media (max-width: 600px) {
    .description {
        width: 100vw;
        border: none;
        border-radius: 0px;
    }
    .mainContent {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .slideContainer {
        min-width: 90vw;
        width: 90vw;

        
        margin-right: unset;

        float: none;

        
         
        
    }
    .embed {
        min-width: 90vw;
        width: 90vw;

        
        margin-right: unset;

        float: none;
    }
    .projectImage {
        width: auto;
        max-height: 80vh;
       

        
    }

}

