.header {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;

    z-index: 100;


    
}
.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px 5%;

    width: 80vw;
    

    margin: auto;
}
@media (max-width: 740px) {
    .header-content {
        justify-content: center;
    }
}
.title-text {
    font-size: 3em;
    font-weight: bold;
    

    margin: 0px 16px;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
.button {
    cursor: pointer;
    font-size: 2em;

    margin: 0px 6px;
    transition: color 0.3s ease

}
.button:hover {
    /* transform: scale(1.05); */
    color: red;
}
.icon {
    height: 30px;
    width: auto;

    margin: 0px 5px;

    
    transition: color 0.3s ease
}
.icon:hover {
    /* transform: scale(1.05); */
    color: red;
}

.icons {
    display: flex;
    flex-direction: row;

    margin-left: 14px;

}



@media (max-width: 500px) {
    .header {

        justify-content: space-between;
        padding: 10px 12px;
    }

    .logo-title {
        
        
        
    }
    .header-content {
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        padding: 10px 2%;
    }
    .icons {
        margin: 10px 0px;
    }
    .logo-info {
        flex-direction: column;
        align-items: start;
    }
    .headerinfo {
        border: none;
        display: none;

        
        
    }
    .headertext {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        
    }

    .hamburger {
        display: block;
        margin-right: 14px;
    }

    

    .navbar {
        
        position: fixed;
        flex-direction: column;
        justify-content: unset;
        align-items: center;

        top: 92px;
        left: 0;
        height: 100%;
        width: 100%; 
        background-color: darkred;
        transform: translateX(170%); 
        transition: transform 0.3s ease-in-out;
        z-index: 1000;

        padding-top: 10px;
      }
    .navlist {
        flex-direction: column;
        
    }
    .icon {
        margin: 5px;
    }
   

      .navbar.show {
        display: flex;
        transform: translateX(0);
      }
    
      .button {
        color: white;
        margin: 0.5rem 0;
      }
}